<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="GradingModelDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Grading_SOH_Final_Rel-20151021112744.mdf;Initial Catalog=aspnet-Grading_SOH_Final_Rel-20151021112744;Integrated Security=True" providerName="System.Data.SqlClient" />
    
    <add name="NORTHWNDConnectionString" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Grading_SOH_Final_Rel-20151021112744.mdf;Initial Catalog=aspnet-Grading_SOH_Final_Rel-20151021112744;Integrated Security=True" providerName="System.Data.SqlClient" />
    
    <add name="Adventure Works" connectionString="Data Source=http://bi.syncfusion.com/olap/msmdpump.dll; Initial Catalog=Adventure Works DW 2008 SE;" providerName="System.Data.SqlClient" />
    <!--<add name="GradingModelDB" connectionString="data source=.\SQLEXPRESS2;initial catalog=GradingSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="Syncfusion.EJ.Export, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Compression.Base, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Presentation.Base, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.XlsIO.Base, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Pdf.Base, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.DocIO.Base, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.DocToPDFConverter.Base, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.PdfViewer, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Chart.Wpf, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.ReportViewer, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Gauge.Wpf, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.SFMaps.WPF, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Shared.Wpf, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.PMML.Base, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.Mvc, Version=14.4500.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Linq.Base, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.Pivot, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Olap.Base, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Syncfusion.EJ.ReportViewer" />
        <add namespace="Syncfusion.JavaScript" />
        <add namespace="Syncfusion.JavaScript.DataVisualization" />
        <add namespace="Syncfusion.MVC.EJ" />
        <add namespace="Syncfusion.JavaScript.Olap" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="MvcResourceHandler" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=14.4450.0.15, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Grading_SOH_Final_Rel.OLAPServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Grading_SOH_Final_Rel.RelationalServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Grading_SOH_Final_Rel.RelationalClientServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Grading_SOH_Final_Rel.KPIServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Grading_SOH_Final_Rel.DrillPositionServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Grading_SOH_Final_Rel.CellContextServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Grading_SOH_Final_Rel.HyperlinkServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Grading_SOH_Final_Rel.OlapClientServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Grading_SOH_Final_Rel.OlapGaugeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Grading_SOH_Final_Rel.OlapChartServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Grading_SOH_Final_Rel.PagingServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Grading_SOH_Final_Rel.OLAPService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.OLAPServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IOLAPService" />
      </service>
      <service name="Grading_SOH_Final_Rel.RelationalService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.RelationalServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IRelationalService" />
      </service>
      <service name="Grading_SOH_Final_Rel.KPIService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.KPIServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IOLAPService" />
      </service>
      <service name="Grading_SOH_Final_Rel.DrillPositionService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.DrillPositionServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IOLAPService" />
      </service>
      <service name="Grading_SOH_Final_Rel.CellContextService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.CellContextServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IOLAPService" />
      </service>
      <service name="Grading_SOH_Final_Rel.HyperlinkService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.HyperlinkServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IOLAPService" />
      </service>
      <service name="Grading_SOH_Final_Rel.OlapClientService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.OlapClientServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IOlapClientService" />
      </service>
      <service name="Grading_SOH_Final_Rel.OlapChartService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.OlapChartServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IOlapChartService" />
      </service>
      <service name="Grading_SOH_Final_Rel.OlapGaugeService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.OlapGaugeServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IOlapGaugeService" />
      </service>
      <service name="Grading_SOH_Final_Rel.RelationalClientService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.RelationalClientServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IRelationalClientService" />
      </service>
      <service name="Grading_SOH_Final_Rel.PagingService">
        <endpoint address="" behaviorConfiguration="Grading_SOH_Final_Rel.PagingServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Grading_SOH_Final_Rel.IOLAPService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>