@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to School of Hygiene Portal</h1>
    <center>
        <p>
            <a href="http://asp.net" class="btn btn-primary btn-large">
                Login to the Portal
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            </a>
        </p>
    </center>
    
</div>

     <!--SamplesToBeReplaced-->

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 style="color:white">                    
                    Online Application
                </h4>
            </div>
            <div class="panel-body">
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 style="color:white">
                Student Course Registration
                </h4>
            </div>
            <div class="panel-body">
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 style="color:white">
                    Academic Calender
                </h4>
            </div>
            <div class="panel-body">
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="text-center">
        <div style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:16px">&copy; @DateTime.Now.Year - School of Hygiene Portal</div>
    </div>
</footer>
<!-- /#Footer -->